img {
  max-height: 400px;
  max-width: 400px;
}
a:link {
  color: #3e924c;
  padding: 5pt;
  border: 1px solid #1f6128;
  text-decoration: none;
  background-color: #91d89f;
}
a:visited {
  color: #7c55a8;
  padding: 5pt;
}
a:hover{
  color: #4daf5e;
  padding: 5pt;
  box-shadow: 2px 2px 1px 1px #b3b2b2;
}
a.current{
  color: #9d9d9d;
  padding: 5pt;
}
a:active{
  color: #104820;
  padding: 5pt;
}
li{
  margin-bottom: 20px;
}
html{
  background-color: #b8c3f3;
}
h1{
  color: #355a96;
}
h2{
  color:#557ab6;
}
p{
  color:#123a7a;
}