img {
  max-height: 400px;
  max-width: 400px;
}
a:link {
  color: #403ea0;
  padding: 5pt;
  border: 1px solid #7c6180;
  text-decoration: none;
  background-color: #c6a7d8;
}
a:visited {
  color: #7c55a8;
  padding: 5pt;
}
a:hover{
  color: #7185a5;
  padding: 5pt;
  box-shadow: 2px 2px 1px 1px #b3b2b2;
}
a.current{
  color: #7b7b7b;
  padding: 5pt;
}
a:active{
  color: #ad7a1c;
  padding: 5pt;
}
li{
  margin-bottom: 20px;
}
html{
  background-color: #b8c3f3;
}
h1{
  color: #355a96;
}
h2{
  color:#557ab6;
}
p{
  color:#123a7a;
}